---js
{
  navigationOptions: {
    listElement: "ul",            // Change the top level tag
    listItemElement: "li",        // Change the item tag

    listClass: "navbar-nav",                // Add a class to the top level
    listItemClass: "nav-item",            // Add a class to every item
    listItemHasChildrenClass: "", // Add a class if the item has children
    activeListItemClass: "",      // Add a class to the current page’s item

    anchorClass: "nav-link",              // Add a class to the anchor
    activeAnchorClass: "active",        // Add a class to the current page’s anchor

    // If matched, `activeListItemClass` and `activeAnchorClass` will be added
    activeKey: "",
    // It’s likely you want to pass in `eleventyNavigation.key` here, e.g.:
    // activeKey: eleventyNavigation.key

    // Show excerpts (if they exist in data, read more above)
    showExcerpt: false
  }
}
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    {% render 'headfiles' %}
  </head>
  <body>
    <header>
      {% assign navItems = collections.main | eleventyNavigation | eleventyNavigationToHtml: navigationOptions %}
      {% render 'nav', navItems: navItems %}
    </header>
    {{ content }}
    {% render 'scriptfiles' %}
  </body>
</html>